<div id="bargraphs{$ data.name }"></div>

<script>
(function() {

  var margin = {top: 20, right: 20, bottom: 30, left: 40},
      width = $("#bargraphs{$ data.name }").width() - margin.left - margin.right,
      height = 400 - margin.top - margin.bottom,
      series = "1 or 2";

  var x = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
      .range([height, 0]);

  var color = d3.scale.category10();
      // .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .tickSize(0)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .tickSize(0)
      .orient("left");

  var svg = d3.select("#bargraphs{$ data.name }").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.csv("{$ data.file }", function(error, data) {
    var categories = d3.keys(data[0])[0];

    var sizes = d3.keys(data[0]).filter(function(k) { return k !== categories});

    x.domain(data.map(function(d) { return d.framework;}));
    y.domain([0, d3.max(data, function(d) { 
      return d3.sum(d3.values(d));
    })]);

    data.forEach(function(d) {
      var accum = 0;
      d.spans = sizes.map(function(s) {return {size: s, start: accum, end: accum += +d[s]}});
      d.total = d.spans[d.spans.length -1].end;
    });

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("# startups");

    var fw = svg.selectAll(".framework").data(data).enter().append("g")
          .attr("class", "framework")
          .attr("transform", function(d) { return "translate(" + x(d.framework) + ",0)"; });

    fw.selectAll("rect")
      .data(function(d) {return d.spans;})
        .enter().append("rect")
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.end); })
          .attr("height", function(d) { return y(d.start) - y(d.end); })
          .attr("fill", function(d) { return color(d.size); })
          .attr("fill-opacity", "0.8");

    var legend = svg.selectAll(".legend")
        .data(sizes)
      .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    legend.append("text")
        .attr("x", width - 24)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d; });

  });
})();

</script>